<h1>All Manufactures</h1>
<!-- 
<% @makes.each do |make| %>
	<p><%= link_to make.name, make_path(make) %></p>
<% end %>

 -->

<!-- 
<% @makes.each do |make| %>
	<ul><h4><%= make.name %></h4>
	<% make.supercars.select("distinct car_model_id").order('created_at ASC').each do |supercar| %>
		<li><%= supercar.car_model.name %></li>
	<% end %>
	</ul>
<% end %> -->

<br>
<div class="container" id="tourpackages-carousel">
  <% @makes.order('name ASC').each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |supercar| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
			<div class="image-cropper" position="relative" style = "position: relative; height: 260px; overflow: hidden;">
			   <img class="bottom-centered" src="<%= supercar.supercars.last.thumbnail_url %>" style = "position: absolute; bottom: 0;"/>        	 
			</div>         
            <div class="caption">
            <div id="manufacturer-title" >
               
               <div style = "border-bottom: 1px solid #EFEEEE;"><h3><%= link_to supercar.name, make_path(supercar.name) %></h3></div>
               <br>
              
            </div>
            <div id="manufacturer-car-models">              
      				<% supercar.supercars.select("distinct car_model_id").order('created_at ASC').each do |car_model| %>
      					<p><%= link_to car_model.car_model.name, car_model_path(car_model.car_model.name) %></p>

<!--                 <% make_count = supercar.supercars.count %>
                <% car_model_count = car_model.car_model.supercars.count %>
                <% supercar_progress = car_model_count.to_f/make_count.to_f*100 %>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= supercar_progress.to_i %>%">
                    <span class="sr-only">45% Complete</span>
                  </div>
                </div>
 -->
             	<% end %>
            </div> 
             
                                                           
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- End row -->
  <% end %>
  <div style="text-align: right;"> 
  </div>  
</div><!-- End container -->

