<!-- <h2>All the supercars, dawg!</h2>
<br>
 -->
 <br>
  <%= image_tag("Ford_gt.png") %>


<br>
<h4>Most Recently Indexed Supercars</h4>
<br>
<div class="index-top-container">
 <div class="index-top-left-list" style="display:inline-block;">
      <table class="table table-striped table-condensed table-bordered table-hover table-responsive">
        <tr>
          <th><h3 >Make</h3></th>
          <th><h3>Model</h3></th>
          <th><h3>City</h3></th>
          <th><h3>Country</h3></th>
          <th><h3>Indexed By</h3></th>
          <th></th>
        </tr>
        <% @supercars.each do |supercar| %>
          <tr>
            <td>
              <h4>
              <p style="text-align:center;"><%= link_to supercar.make.name, make_path(supercar.make) %></p>

   
              </h4>
            </td>
            <td>
            <h4>
              <p style="text-align:center;"><%= link_to supercar.car_model.name, car_model_path(supercar.car_model) %></p>
              </h4>
              </td>
                        <td>
            <h5>
              <p style="text-align:center;"><%= link_to supercar.city.name, city_path(supercar.city) %></p>
              </h5>
              </td>
                        <td>
            <h5>
              <p style="text-align:center;"><%= link_to supercar.country.name, country_path(supercar.country) %></p>
              </h5>
              </td>
            <td> 
              <% if supercar.user %>
              <h5>
              <p style="text-align:center;">
                <%= link_to supercar.user.username, user_path(supercar.user.username) %>
                </p>
              </h5>

              <% else %>
              <% end %>
              
                  <p style="text-align:center;">
                    <%= supercar.created_at.strftime('%B'' ''%d' ', ' '%Y') %>
                  </p>
                
            </td>
            <td>
              <p style="text-align:center;"><%= link_to "visit supercar page", supercar_path(supercar.id) %></p>
              <% if supercar.session_count %>
                <p style="text-align:center;"><%= supercar.impressionist_count %> views</p>
<!--                 <p>Views: <%= supercar.session_count %></p>
 -->
              <% else %>
                <p style="text-align:center;">Views: 0</p>
              <% end %>
            </td>
            
            
          </tr>
        <% end %>
      </table>
        <div style="display:inline-block;"><%= page_entries_info @supercars %></div>
        <div style="float:right;display:inline-block;"> <%= will_paginate @supercars, renderer: BootstrapPagination::Rails %></div>

    </div>
  <div class="index-ad-space" style="display:inline-block;width:24%;float:right;">

    <%= form_tag("/supercars", method: "get", action: "search") do %>
      <div><%= select_tag "make_id", options_from_collection_for_select(@make, "id", "name"), include_blank: true, id: "manufacturer-search" %></div>
      <br>
      <div><%= select_tag "car_model_id", options_from_collection_for_select(@car_model, "id", "name"), include_blank: true, id: "model-search" %></div>
      <br>
      <div><%= select_tag "city_id", options_from_collection_for_select(@city, "id", "name"), include_blank: true, id: "city-search" %></div>
      <br>
      <div><%= select_tag "country_id", options_from_collection_for_select(@country, "id", "name"), include_blank: true, id: "country-search" %></div>  
      <div class ="input", id = "boxes"></div>          
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
  </div>
  <br>
  
  </div><!-- /.inex-top-container -->

<br>

<div class="container" id="tourpackages-carousel">
  <% @supercars.each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |supercar| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
            <div class = "insta-thumb">
              <div style="margin-left:5px;"><h4><%= link_to supercar.make.name, make_path(supercar.make) %> <%= link_to supercar.car_model.name, car_model_path(supercar.car_model) %></h4></div>
              <div style="margin-left:10px;">
                <h5>
                  <%= link_to supercar.city.name, city_path(supercar.city) %>, <%= link_to supercar.country.name, country_path(supercar.country) %>
                </h5>
              </div>
              <br>    
              <%= render :inline => supercar.html.html_safe %>
            </div>
            <div class="caption">
            <div style="float:right;">

            <FORM METHOD="LINK" ACTION="<%= supercar_path(supercar.id) %>">
              <INPUT TYPE="submit" VALUE="visit supercar page" class="btn btn-primary">
            </FORM>

            </div>
            <div id="thumbnail-left-info" >


            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_<%= supercar.id %>">
              Make this BIG
            </button>

            

              <!-- Modal -->
              <div class="modal fade-lg" id="myModal_<%= supercar.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= supercar.make.name %> <%= supercar.car_model.name %> in <%= supercar.city.name %></h4>
                    </div>
                    <div class="modal-body">
              <div style="display:inline-block;width:40%;"><%= render :inline => supercar.html.html_safe %></div>


                    </div>
                    <div class="modal-footer">
<!--                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
 -->                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->    

              <% if supercar.user %>
                  <h3>Indexed by:</h3>
                  <p><%= link_to supercar.user.username, user_path(supercar.user.username) %></p>
<!--                   <p><%= supercar.author_name%></p>
 -->                <% else %>
              <% end %>
            </div>

                                                           
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- End row -->
  <% end %>
  <div style="text-align: right;"> 
  </div>  
</div><!-- End container -->
       <div style="float:right;"> <%= will_paginate @supercars, renderer: BootstrapPagination::Rails %>  </div>
