<% title("Supercars Admin") %>
<h1>Supercars <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<br>
<h4>Most Recently Indexed Supercars</h4>
<br>
<div class="index-top-container">
 <div class="index-top-left-list" style="display:inline-block;">
   <div class = "table-responsive" >
      <table class="table table-striped table-condensed table-bordered table-hover">
        <tr>
          <th><h3>Image</h3></th>
          <th><h3>Make</h3></th>
          <th><h3>Model</h3></th>
          <th><h3>City</h3></th>
          <th><h3>Country</h3></th>
          <th><h3>Index Date</h3></th>
          <th><h3>Indexed By</h3></th>
          <th><h3>Edit</h3></th>
        </tr>
        <% @supercars.each do |supercar| %>
          <tr>
          	<td>
			   <img src="<%= supercar.thumbnail_url %>" style = "width: 38%; float:right;"/>        	 
          	</td>
            <td>
              <h5>
              	<%= link_to supercar.make.name, make_path(supercar.make) %>  
              </h5>
            </td>
            <td>
            <h5>
              <%= link_to supercar.car_model.name, car_model_path(supercar.car_model) %>
          	</h5>
          	</td>
            <td>
            <h5>
              <%= link_to supercar.city.name, city_path(supercar.city) %>
          	</h5>
          	</td>
            <td>
            <h5>
              <%= link_to supercar.country.name, country_path(supercar.country) %>
          	</h5>
          	</td>
      		<td>
    		<h5>
          	  <%= supercar.created_at.strftime('%B'' ''%d' ', ' '%Y') %>
            </h5>
            </td>
            <td> 
              <% if supercar.user %>
                <%= link_to supercar.user.username, user_path(supercar.user.username) %>
              <% else %>
              <% end %>
            </td>
            <td>
	          	<%= link_to 'Edit', edit_supercar_path(supercar) %>
	        </td>
          </tr>        
	          
          
        <% end %>
      </table>
    </div>
  </div>
  </div>

  <br>