<h1>All Cities</h1>
<!-- 
<% @cities.each do |city| %>
	<p><%= link_to city.name, city_path(city) %></p>
<% end %>

 -->
<br>
<div class="container" id="tourpackages-carousel">
  <% @cities.order('name ASC').each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |city| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
			<div class="image-cropper" position="relative" style = "position: relative; height: 260px; overflow: hidden;">
			   <img class="bottom-centered" src="<%= city.supercars.last.thumbnail_url %>" style = "position: absolute; bottom: 0;"/>        	 
			</div>         
            <div class="caption">
            <div id="manufacturer-title" >               
               <div >
               	<h3><%= link_to city.name, city_path(city.name) %></h3>
               </div>
               <br>              
            </div>
            <div id="manufacturer-car-models">
              <% city.supercars.select("distinct make_id").order('created_at ASC').each do |supercar| %>
              	<div style = "border-bottom: 1px solid #EFEEEE;">
	              	<h4>
	              		<%= link_to supercar.make.name, make_path(supercar.make.name) %>
<!-- 
      
                <% supercars_by_make_in_city_count = supercar.make.supercars.where(city_id: city.id).count %>
                <% city_count = city.supercars.count %>

                <% supercar_by_make_city_progress = supercars_by_make_in_city_count.to_f/city_count.to_f*100 %>

    
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= supercar_by_make_city_progress.to_i %>%">
                    <span class="sr-only">45% Complete</span>
                  </div>
                </div>
   =
       -->
	              	</h4>
              	</div>
              	<br>
				<% supercar.make.supercars.where(city_id: city.id).select("distinct car_model_id").order('created_at ASC').each do |car_model| %>
					<p><%= link_to car_model.car_model.name, car_model_path(car_model.car_model.name) %></p>
<!--   
                <% make_count = supercar.make.supercars.count %>
                <% car_model_count = supercar.make.supercars.where(city_id: city.id).select("distinct car_model_id").count %>
                <% city_count = city.supercars.count %>
                <% supercars_in_city_count = city.supercars.count %>


                <% supercars_in_city = car_model_count.to_f/city_count.to_f*100 %>
    
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= supercars_in_city.to_i %>%">
                    <span class="sr-only">45% Complete</span>
                  </div>
                </div>
     -->
             	<% end %>
             	 <br>
             <% end %>
            </div>             
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- End row -->
  <% end %>
  <div style="text-align: right;"> 
  </div>  
</div><!-- End container -->
